<p id="notice"><%= notice %></p>

<h1>Incidents</h1>

<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Location</th>
    <th>Description</th>
    <th>Status</th>
    <th>Reporter</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @incidents.each do |incident| %>
    <tr>
      <td><%=incident.incident_type.name %></td>
      <td><%=incident.location %></td>
      <td><%=incident.description %></td>
      <td><%=incident.status %></td>
      <td><%= "#{incident.user.first_name} #{incident.user.last_name} #{incident.user.phone}" %></td>
      <td><%= link_to 'Show', incident %></td>
      <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
      <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
